<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<div class="container">
    <div class="jumbotron">     
      <h2 class="display-4">{{question.question}}</h2>
      
      <div class="stars">
            <input class="star star-5 {{question.questionId}}" id="star-5 {{question.questionId}}" type="radio" name="{{question.questionId}}" value="5" [(ngModel)]="question.answer" (change)="onClick()" required />
            <label class="star star-5 {{question.questionId}}" for="star-5 {{question.questionId}}"></label>
            <input class="star star-4 {{question.questionId}}" id="star-4 {{question.questionId}}" type="radio" name="{{question.questionId}}" value="4" [(ngModel)]="question.answer" (change)="onClick()" required/>
            <label class="star star-4 {{question.questionId}}" for="star-4 {{question.questionId}}"></label>
            <input class="star star-3 {{question.questionId}}" id="star-3 {{question.questionId}}"  type="radio" name="{{question.questionId}}" value="3" [(ngModel)]="question.answer" (change)="onClick()" required/>
            <label class="star star-3 {{question.questionId}}" for="star-3 {{question.questionId}}"></label>
            <input class="star star-2 {{question.questionId}}" id="star-2 {{question.questionId}}" type="radio" name="{{question.questionId}}" value="2" [(ngModel)]="question.answer" (change)="onClick()" required/>
            <label class="star star-2 {{question.questionId}}" for="star-2 {{question.questionId}}"></label>
            <input class="star star-1 {{question.questionId}}" id="star-1 {{question.questionId}}" type="radio" name="{{question.questionId}}" value="1" [(ngModel)]="question.answer" (change)="onClick()" required/>
            <label class="star star-1 {{question.questionId}}" for="star-1 {{question.questionId}}"></label>
      </div>  
    </div>   
  </div>

  <!-- <div class="container">
      <div class="jumbotron">     
        <h2 class="display-3">{{question.question}}</h2>
        <div class="stars">
              <input class="star star-5 " #variable id="star-5 1" type="radio" name="test" value="5" [(ngModel)]="question.answer" (change)="onClick()" />
              <label class="star star-5 "  for="star-5 1"></label>
              <input class="star star-4 " #variable id="star-4 1" type="radio" name="test" value="4" [(ngModel)]="question.answer" (change)="onClick()"/>
              <label class="star star-4 " for="star-4 1"></label>
              <input class="star star-3 " #variable id="star-3 1"  type="radio" name="test" value="3" [(ngModel)]="question.answer" (change)="onClick()"/>
              <label class="star star-3 " for="star-3 1"></label>
              <input class="star star-2 " #variable id="star-2 1" type="radio" name="test" value="2" [(ngModel)]="question.answer" (change)="onClick()"/>
              <label class="star star-2 " for="star-2 1"></label>
              <input class="star star-1 " #variable2 id="star-1 1" type="radio" name="test" value="1" [(ngModel)]="question.answer" (change)="onClick()"/>
              <label class="star star-1 " for="star-1 1"></label>
        </div>  
      </div>   
    </div> -->
