{{data.moreData}}
<div style="font-size: smaller;background-color: #e5ffe6;">
<b>Punctuality & Regularity</b><br>
20 student gave 5 score . 20 student gave 4 score .30 student gave 3 score .40 student gave 2 score. 70 student gave 1 score.<br>
<b>Command over the subject</b><br>
20 student gave 5 score .20 student gave 4 score .30 student gave 3 score .40 student gave 2 score. 70 student gave 1 score.<br>
<b>Fluency of medium</b><br>
20 student gave 5 score . 20 student gave 4 score .30 student gave 3 score .40 student gave 2 score. 70 student gave 1 score.<br>
<b>Understating & effective ness of teaching</b><br>
<b>Completion of syllabus on time</b><br>
20 student gave 5 score . 20 student gave 4 score .30 student gave 3 score .40 student gave 2 score. 70 student gave 1 score.<br>
<b>Teachers knowledge about
application of the subject</b><br>
20 student gave 5 score . 20 student gave 4 score .30 student gave 3 score .40 student gave 2 score. 70 student gave 1 score.<br>
<b>Willingness to guide students
Solve Problem</b><br>
20 student gave 5 score . 20 student gave 4 score .30 student gave 3 score .40 student gave 2 score. 70 student gave 1 score.<br>
<b>Use of innovative teaching
methods</b><br>
20 student gave 5 score . 20 student gave 4 score .30 student gave 3 score .40 student gave 2 score. 70 student gave 1 score.<br>
<b>Overall impression ,despise
drawback, if any</b><br>
20 student gave 5 score . 20 student gave 4 score .30 student gave 3 score .40 student gave 2 score. 70 student gave 1 score.<br>
<div>
    <br>
    <font style="color: darkgreen">You are Good At this</font> <br>
    <font style="color:red">You need to improve in this</font>
<div mat-dialog-actions>
  <button mat-button style="width: 100%; background-color: #4CAF50" (click)="onNoClick()">CLOSE</button>
</div>
