<div class="row">
  <div class="col-md-3" style="background-color:white; height: 100%; padding-bottom: 30px" >
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Search Class Name" [(ngModel)]="searchString">
        </mat-form-field>
    <div *ngFor="let class of classes  | classFilter:searchString ;index as i">
      <mat-card>{{ class.className }}
        <button mat-button (click)="deleteClass(i)" style="background-color: red"><i class="material-icons">
            close
          </i></button>
      </mat-card>
    </div>
  </div>
  <div class="col-md-3" style="background-color:#ffd6d6; height: 100%; padding: 30px" >
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Enter Class Name" [(ngModel)]="className">
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Section">
              <mat-option *ngFor="let section of sections" [value]="section">
                {{section}}
              </mat-option>
            </mat-select>
          </mat-form-field>          
        <button mat-button  style="background-color: greenyellow;width: 100%" (click)="addClass()">
            ADD</button>
  
  </div>
</div>